<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainActivity$GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rtu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".management.product.add.AddProduct3"
            android:exported="false" />
        <activity
            android:name=".management.product.add.AddProduct2"
            android:exported="false" />
        <activity
            android:name=".management.product.add.AddProduct"
            android:exported="false" />
        <activity
            android:name=".management.ManageProduct"
            android:exported="false" />
        <activity
            android:name=".management.ManageMember"
            android:exported="false" />
        <activity
            android:name=".management.AddNotice"
            android:exported="false" />
        <activity
            android:name=".grouptap.NoticeInfo"
            android:exported="false" />
        <activity
            android:name=".management.ManageNotice"
            android:exported="false" />
        <activity
            android:name=".management.ManageActivity"
            android:exported="false" />
        <activity
            android:name=".grouptap.GroupInfo"
            android:exported="false" />
        <activity
            android:name=".grouptap.SearchGroup"
            android:exported="false" />
        <activity
            android:name=".grouptap.AddGroup"
            android:exported="false" />
        <activity
            android:name=".MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>