<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ren2u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MainActivity$GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ren2u"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ren2u_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rtu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".management.UpdateClubActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".management.notice.ChangeNoticeActivity"
            android:exported="false"
            android:label="@string/title_activity_change_notice"
            android:theme="@style/Theme.Rtu.NoActionBar" />
        <activity
            android:name=".coupon.CouponLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.coupon.SelectMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.coupon.CouponManageDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.coupon.ManageCouponActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coupon.CouponListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coupon.AddCoupon"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renttab.LocationInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.ResetPassword2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypagetab.ConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypagetab.MyInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renttab.RentComplete"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.ProductInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.MailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.product.add.AddProduct5"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key" />

        <activity
            android:name=".management.product.add.SetLocation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.product.add.AddProduct4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.product.add.AddProduct3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.product.add.AddProduct2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.product.add.AddProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.ManageProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.ManageMember"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.AddNotice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".grouptap.NoticeInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.ManageNotice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".management.ManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".grouptap.GroupInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".grouptap.SearchGroup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".grouptap.AddGroup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="b17afd6966d1fa342ab2b8c0009419eb" />
    </application>

</manifest>